<h1>Trade #<%= @trade.id %></h1>
  <div id="content">
    <h4><%= @trade.direction %> <%= @trade.size %> <%= @trade.product %> <%= @trade.price %> <%= @trade.trade_date %></h4>

    <form action="/trades/<%= @trade.id %>/edit" method="get">
      <p><input type="submit" value="Edit Trade"></p>
    </form>

    <form action="/trades/<%= @trade.id %>/delete" method="post">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <p><input type="submit" value="Delete Trade"></p>
    </form>

    <h3><a href="/trades">HOME</a></h3>
  </div>
