<h1>Welcome, <%= current_user.username %></h1>
  <div id="content">
    <h2>All Open Positions: </h2>
    <% Trade.all.each do |trade| %>
      <h3><a href="/users/<%= trade.user_id %>/trades"> Trader: <%= trade.user.username %> </a></h3>
      <p><a href="/trades/<%= trade.id %>"><%= trade.id %>>>></a>
        <% if trade.direction.downcase == "buy" %>
          Long <%= trade.size %> <%= trade.product %> @ <%= trade.price %> <%= trade.trade_date %>
        <% elsif trade.direction.downcase == "sell" %>
          Short <%= trade.size %> <%= trade.product %> @ <%= trade.price %> <%= trade.trade_date %>
        <% end %>
        </p>
    <% end %>

    <form action="trades/new" method="GET">
      <p><input type="submit" value="New Trade"></p>
    </form>

    <form action="/logout" method="GET">
      <p><input type="submit" value="Log Out"></p>
    </form>
  </div>
